@using PriceAggregator.Web.App_LocalResources
@using PriceAggregator.Web.IoC
@model PriceAggregator.Core.DataEntity.Category

@{
    Layout = null;
  
}


<!-- Modal Dialog -->
<div id="EditDialog" title="@Category.EditCategoryTitle" ng-controller="dictionaryEditController" ng-init="init('@ConfigurationProvider.DictionaryApiUrl');">
    <form name="editForm" novalidate ng-submit="submitForm();">

        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="form-group" growl></div>
          
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new {@class = "control-label col-md-3"})
                <!---ng-messages="editForm.name.$error" --->
                <div class="col-md-9" >
                    <input type="text" id="name" name="name" class="form-control" ng-model="item.Name" required/>

                    <div ng-messages="editForm.name.$error" ng-show="editForm.name.$touched" class="text-danger" role="alert">
                        <div ng-messages-include="/AngularTemplates/Inline?templateName=ValidationMessages"></div>
                    </div>

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new {@class = "control-label col-md-3"})
                    <div class="col-md-9">
                        @Html.TextAreaFor(model => model.Description, new {@class = "form-control", rows = 5, ng_model = "item.Description"})

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <input type="submit" value="Save" class="btn btn-primary" ng-disabled="editForm.$invalid" />
                        <button type="button" ng-click="closeForm()" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>