@model IEnumerable<Web.Models.RrpSituationReport>


<table class="table">
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.NumberOfPositionsBellowRRp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfPositionsBellowRRp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LatestBellowRrpTrends)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.NumberOfPositionsAboveRRp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfPositionsAboveRRp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LatestAboveRrpTrends)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.NumberOfNaPositions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfNaPositions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LatestNaTrends)
        </td>
        
    </tr>
}

</table>
