@using Web.Models
@model IEnumerable<Web.Models.RrpViolationReport>


<div class="panel panel-default">
   
    @if (Model != null)
    {
        if (Model.Any())
        {
            <!-- Default panel contents -->
            <div class="panel-heading">@Web.App_LocalResources.RprViolationReport.Retailer_violation_report_header</div>

            <!-- Table -->
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NumberOfPositions)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LatestTrends)
                    </th>
                    <th></th>
                </tr>

                @foreach (RrpViolationReport item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberOfPositions)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LatestTrends)
                        </td>
                    </tr>
                }

            </table>
        }
        else
        {
            <div class="alert alert-info" role="alert">
                <a href="#" class="alert-link">@Web.App_LocalResources.RprViolationReport.No_violations_found_warn</a>
            </div>
        }
    }
</div>